:root {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;

    color-scheme: light dark;
    background-color: white;
    color: #222222;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

nav a {
    color: #558855;
    text-decoration: inherit;
}

body {
    display: flex;
    place-items: start;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
}

h2 {
    color: #558855;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h3 {
    font-weight: bold;
}

#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#heading {
    text-align: center;
    margin: 2rem 0;
}

#heading div {
    text-transform: uppercase;
    font-size: x-large;
    color: #888888;
}

#content {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

#sidebar {
    flex: 0 1 20rem;
    margin-right: 2rem;
}

#sidebar > div {
    margin-bottom: 2rem;
}

#sidebar ul {
    list-style: none;
}

#main {
    flex: 1 1 auto;
}

#main :first-child {
    margin-top: 0;
}

#main .job {
    margin-bottom: 2rem;
}

#main ul {
    padding: 1em;
}

#main img {
    max-width: 100%;
}

#main .video {
    width: 100%;
}

#main .video iframe {
    display: block;
}

nav {
    padding: 0.5em 2rem;
    border-bottom: 1px solid #222222;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

nav li {
    padding-right: 1rem;
    text-transform: uppercase;
}

nav a:before {
    content: '>';
    opacity: 0;
}

nav a:after {
    content: '<';
    opacity: 0;
}

nav a.active:before {
    opacity: 1;
}

nav a.active:after {
    opacity: 1;
}

button {
    border-radius: 4px;
    border: 1px solid #558855;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    color: #222222;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 1rem;
}

button:active {
    border-style: dashed;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input[type=checkbox] {
    margin-right: 0.5em;
}

p {
    margin: 1rem 0;
}

@media (max-width: 50rem) {
    #content {
        flex-direction: column;
    }

    #project #content {
        flex-direction: column-reverse;
    }

    #sidebar {
        flex: 1 0 auto;
        margin-bottom: 1rem;
    }

    #sidebar li {
        display: inline-block;
        margin-right: 1em;
    }
    #sidebar #skills li:after {
        content: ',';
    }
    #sidebar #skills li:last-child:after {
        content: '';
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #222;
        color: #ffffff;
    }

    nav {
        border-bottom: 1px solid #888888;
    }

    nav a {
        color: #55aa55;
    }

    h2 {
        color: #55aa55;
    }

    button {
        background-color: #222222;
        color: #ffffff;
        border: 1px solid #55aa55;
    }
}

@media print {
    :root {
        font-size: 12px;
    }

    #content {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #sidebar {
        position: absolute;
        width: 25rem;
    }

    #main {
        position: absolute;
        margin-left: 25rem;
    }

    nav {
        display: none;
    }
}